body {
	background: url(https://images.unsplash.com/photo-1576919228236-a097c32a5cd4?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGNocmlzdG1hcyUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D) no-repeat top center #f2a5a7;
	background-size: cover;
	font-family: "Mountains of Christmas", cursive;
	display: flex;
	flex-direction: column;
  }

	.calendar-grid .title {
		grid-area: title;
		display: flex;
		align-items: center;
		justify-content: center;
	  }

  .calendar-grid {
	display: grid;
	width: 94%;
	max-width: 900px;
	margin-top: 0px;
	margin: 3% auto 3rem auto;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-gap: 2px;
	transform: translate3d(0px, 0px, 0px);
	grid-template-areas:
	  "title  title  title"
	  "day22  day3   day8"
	  "day9   day18  day11"
	  "day2   day24  day13"
	  "day12  day10  day4"
	  "day20  day1   day7"
	  "day5   day14  day17"
	  "day16  day23  day6"
	  "day15  day21  day19";
  }

@media only screen and (min-width: 576px) {
	.calendar-grid {
	  grid-template-columns: repeat(6, 1fr);
	  grid-template-areas:
		"title  title  title  day5   day17  day15"
		"title  title  title  day11  day20  day16"
		"title  title  title  day1   day18  day12"
		"day6   day22  day14  day24  day24  day4  "
		"day10  day21  day2   day24  day24  day8"
		"day3   day9   day7   day13  day23  day19";
	}
  }

  .title-big {
	margin-top: 10px;
	margin-bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .title-1 {
	color: #9c163f;
	font-size: 80px;
	display: inline-flex;
	transform: rotate(-5deg);
  }

  .title-2 {
	color: #f4e3e8;
	font-size: 80px;
	display: inline-flex;
	transform: rotate(5deg);
  }

  .calendar-grid label {
	perspective: 1000px;
	transform-style: preserve-3d;
	cursor: pointer;
	display: flex;
	min-height: 100%;
	width: 100%;
	height: 136px;
	position: relative;
  }

  .calendar-grid .door {
	transform-style: preserve-3d;
	transition: all 300ms;
	transform-origin: 0% 50%;
  }

  .calendar-grid input:checked + .door {
	transform: rotateY(-180deg);
  }

  .calendar-grid .door {
	width: 100%;
	transform-style: preserve-3d;
	transition: all 300ms;
	border: 2px dashed rgba(0, 0, 0, 0.2);
	border-radius: 0.6rem;
	transform-origin: 0% 50%;
	position: relative;
  }
  
  .calendar-grid .door div {
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 0.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #020e12;
	font-size: 3em;
	font-weight: bold;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
}

.calendar-grid input {
	display: none;
	}

	.calendar-grid .inside-empty {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		background-color: #2f4f8c;
		color: #ffffff;
	  }
	
	  .calendar-grid :checked ~ .inside {
		opacity: 1;
	  }

	  .calendar-grid .door .text {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		/* transform: translate(-50%, -50%); */
		color: #ffffff; 
		font-size: 1.5rem; 
		text-align: center;
		opacity: 0; 
		transition: opacity 300ms ease-in-out;
		width: 100%;
		height: 100%;
		box-sizing: border-box; 
		overflow: hidden; 
		margin-left:  0.2em; /* Add padding to the text */
    	box-sizing: border-box;
	  }
	  .calendar-grid input:checked + .door .text {
		opacity: 1; /* Show text when the door is open */
	  }
  
  .calendar-grid .inside {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 0.6rem;
	overflow: hidden;
	opacity: 0;
	transition: opacity 300ms ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	box-sizing: border-box;
  }
  
  
  
  .calendar-grid .door .back {
	background: linear-gradient(to right, #384044, #2e454f);
	transform: rotateY(-180deg);
  }
  
  .calendar-grid label:hover .door {
	border-color: #10303c;
  }
  
  .calendar-grid :checked + .door {
	transform: rotateY(-180deg);
	border-color: #10303c;
	border-style: solid;
  }

  .calendar-grid .door .back {
	background: linear-gradient(to right, #384044, #2e454f);
	transform: rotateY(-180deg);
  }

 
  .calendar-grid .day-1 {
	grid-area: day1;
	z-index: 11;
  }
  .calendar-grid .day-2 {
	grid-area: day2;
	z-index: 16;
  }
  .calendar-grid .day-3 {
	grid-area: day3;
	z-index: 23;
  }
  .calendar-grid .day-4 {
	grid-area: day4;
	z-index: 15;
  }
  .calendar-grid .day-5 {
	grid-area: day5;
	z-index: 7;
  }
  .calendar-grid .day-6 {
	grid-area: day6;
	z-index: 6;
  }
  .calendar-grid .day-7 {
	grid-area: day7;
	z-index: 12;
  }
  .calendar-grid .day-8 {
	grid-area: day8;
	z-index: 24;
  }
  .calendar-grid .day-9 {
	grid-area: day9;
	z-index: 19;
  }
  .calendar-grid .day-10 {
	grid-area: day10;
	z-index: 14;
  }
  .calendar-grid .day-11 {
	grid-area: day11;
	z-index: 21;
  }
  .calendar-grid .day-12 {
	grid-area: day12;
	z-index: 13;
  }
  .calendar-grid .day-13 {
	grid-area: day13;
	z-index: 18;
  }
  .calendar-grid .day-14 {
	grid-area: day14;
	z-index: 8;
  }
  .calendar-grid .day-15 {
	grid-area: day15;
	z-index: 1;
  }
  .calendar-grid .day-16 {
	grid-area: day16;
	z-index: 4;
  }
  .calendar-grid .day-17 {
	grid-area: day17;
	z-index: 9;
  }
  .calendar-grid .day-18 {
	grid-area: day18;
	z-index: 20;
  }
  .calendar-grid .day-19 {
	grid-area: day19;
	z-index: 3;
  }
  .calendar-grid .day-20 {
	grid-area: day20;
	z-index: 10;
  }
  .calendar-grid .day-21 {
	grid-area: day21;
	z-index: 2;
  }
  .calendar-grid .day-22 {
	grid-area: day22;
	z-index: 22;
  }
  .calendar-grid .day-23 {
	grid-area: day23;
	z-index: 5;
  }
  .calendar-grid .day-24 {
	grid-area: day24;
	z-index: 17;
  }

  @media only screen and (min-width: 576px) {
	.calendar-grid .day-1 {
	  z-index: 16;
	}
	.calendar-grid .day-2 {
	  z-index: 9;
	}
	.calendar-grid .day-3 {
	  z-index: 1;
	}
	.calendar-grid .day-4 {
	  z-index: 15;
	}
	.calendar-grid .day-5 {
	  z-index: 22;
	}
	.calendar-grid .day-6 {
	  z-index: 11;
	}
	.calendar-grid .day-7 {
	  z-index: 3;
	}
	.calendar-grid .day-8 {
	  z-index: 10;
	}
	.calendar-grid .day-9 {
	  z-index: 2;
	}
	.calendar-grid .day-10 {
	  z-index: 7;
	}
	.calendar-grid .day-11 {
	  z-index: 19;
	}
	.calendar-grid .day-12 {
	  z-index: 18;
	}
	.calendar-grid .day-13 {
	  z-index: 4;
	}
	.calendar-grid .day-14 {
	  z-index: 13;
	}
	.calendar-grid .day-15 {
	  z-index: 24;
	}
	.calendar-grid .day-16 {
	  z-index: 21;
	}
	.calendar-grid .day-17 {
	  z-index: 23;
	}
	.calendar-grid .day-18 {
	  z-index: 17;
	}
	.calendar-grid .day-19 {
	  z-index: 6;
	}
	.calendar-grid .day-20 {
	  z-index: 20;
	}
	.calendar-grid .day-21 {
	  z-index: 8;
	}
	.calendar-grid .day-22 {
	  z-index: 12;
	}
	.calendar-grid .day-23 {
	  z-index: 5;
	}
	.calendar-grid .day-24 {
	  z-index: 14;
	}
  }

  @media only screen and (max-width: 575px) {
	.calendar-grid .day-2 .title-container,
	.calendar-grid .day-5 .title-container,
	.calendar-grid .day-9 .title-container,
	.calendar-grid .day-12 .title-container,
	.calendar-grid .day-15 .title-container,
	.calendar-grid .day-16 .title-container,
	.calendar-grid .day-20 .title-container,
	.calendar-grid .day-22 .title-container {
	  left: 0;
	  right: auto;
	}
  
	.calendar-grid .day-4 .title-container,
	.calendar-grid .day-6 .title-container,
	.calendar-grid .day-7 .title-container,
	.calendar-grid .day-8 .title-container,
	.calendar-grid .day-11 .title-container,
	.calendar-grid .day-13 .title-container,
	.calendar-grid .day-17 .title-container,
	.calendar-grid .day-19 .title-container {
	  left: auto;
	  right: 0;
	}
  }

